[Unit]
Description=TorGuard VPN Software. Stay private online with TorGuard's anonymous VPN software and connect to 37+ countries worldwide.
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStartPre=
ExecStart=/usr/bin/torguard
Environment=DISPLAY=:0
ExecStartPost=
ExecStop=
ExecReload=

[Install]
WantedBy=multi-user.target
